body {
    margin: 0 auto;
    width: 960px;
    padding: 1.5rem;
    
}

section {
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
}

h2 {
    font-weight: bold;
    font-size: 3.75rem;
}

/* Fable One = Serif & Handwriting */
.fable-one h2 {
    font-family: 'David Libre', serif;
    color: #3f291f;
}


.fable-one p {
    font-family: 'Kalam', cursive;
}



/* Fable Two = Display & Sans Serif */
.fable-two h2 {
    font-family: 'Bebas Neue', cursive;
    color: #a3a31f;
    text-decoration: underline;
}

.fable-two p {
    font-family: 'Oswald', sans-serif;
    color: #3cabb3;
}



/* Fable Three = Monospace & Display */
.fable-three h2 {
    font-family: 'Cinzel', serif;
    color: #2a642a;
}

.fable-three p {
    font-family: 'Nova Mono', monospace;
    color: #3f291f;
}


/* Fable Four = Monospace & Handwriting */

.fable-four h2 {
    font-family: 'Cutive Mono', monospace;
}

.fable-four p {
    font-family: 'Berkshire Swash', cursive;
    color: gray;
}
